@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


/* globals.css */

/* Modal scrollbar */
.modal-scroll::-webkit-scrollbar {
  width: 6px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #FF7A1A;
  border-radius: 999px;
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #e06510;
}

/* Firefox */
.modal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #FF7A1A transparent;
}